body {
    background-color: rgb(218, 237, 247);
    text-align: center;
  }



  .login{
    display: flex;
    justify-content: space-between;

    text-align: center;
    width: 50%;
    height: 40%;
    padding: 10px 10px 10px 10px;
    /* background-color: red; */
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  }

  /* #login1{
    text-align: center;
    border-radius: 20px;
    border: rgb(91, 208, 238) double;
    


  } */